@import url(/css/variables.css);

/* Typography */

.main-home h1 {
   margin: 0 20px;
   line-height: 1.5;
   font-size: 1.5em;
}

.homepage-contact h2 {
   font-size: 1.75em;
   line-height: 1.4;
}

.main-home h1,
.homepage-contact h2 {
   font-family: var(--ff-right);
   text-transform: uppercase;
   letter-spacing: 1px;
}

.text-purple {
   color: var(--clr-primary);
   font-size: 1.25em;
   display: inline-block;
}

.homepage-games h2,
.homepage-reviews h2,
.homepage-about h2 {
   font-size: 2em;
   font-family: var(--ff-right);
   letter-spacing: 1px;
}

.games__item__article h3 {
   margin-bottom: 10px;
   font-family: var(--ff-toko);
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size: 1.75em;
}

.games__item__article h4,
.homepage-about h3 {
   font-size: 1.25em;
}

.games__item__article h5 {
   font-size: 1em;
}

.homepage-reviews__item p {
   line-height: 1.5;
}

/* Utility classes*/

.flex-column {
   display: flex;
   flex-direction: column;
}

/* Page styling */

.main-home {
   background: #222;
   background-blend-mode: multiply;
   background-image: url("../images/gameconsolemobiledevice.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom;
   background-attachment: fixed;
   color: #fff;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 60vh;
   min-height: 60dvh;
   text-align: center;
   display: flex;
   flex-direction: column;
}

.main-home img {
   max-width: 350px;
}

.homepage-games img {
   max-width: 125px;
   margin: auto 0;
   border-radius: 10px;
   box-shadow: 0 0.5em 0.5em -0.4em #000;
   transform: translateY(-0.25em);
}

.homepage-games__title { grid-area: title }
.forgelegend { grid-area: game1 }
.cyberpunk { grid-area: game2 } 
.assassin { grid-area: game3 }
.cta-purple {grid-area: cta }

.homepage-games {
   display: grid;
   grid-template-areas:
   'title'
   'game1'
   'game2'
   'game3'
   'cta';
   gap: 3em;
   max-width: 30em;
   margin: 100px auto;
   text-align: center;
}

.homepage-games .cta-purple {
   margin-inline: auto;
}

.homepage-games__item {
   display: grid;
   grid-template-columns: auto auto 1fr;
   gap: 1em;
   box-shadow: var(--container-shadow);
   padding: 30px;
   border-radius: 12px;
   margin-inline: auto;
}

.vertical-line {
   border-left: 1px solid #000;
}

.games__item__article {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   align-items: flex-start;
   justify-content: center;
}

.cta-black {
   margin-top: 10px;
   padding: 10px 30px;
}

.homepage-contact {
   min-height: 50vh;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 0px auto;
   padding-inline: 25px;
   gap: 0.3em;
   max-width: 30em;
}

.homepage-contact .cta-black {
   padding: 12.5px 35px;
   font-size: 1em;
}

.homepage-reviews {
   justify-content: center;
   align-items: center;
   gap: 2em;
   max-width: 30em;
   margin: 100px auto;
}

.homepage-reviews__item {
   gap: 1em;
   padding: 30px;
   box-shadow: var(--container-shadow);
   border-radius: 12px;
   max-width: 90%;
}

.homepage-about {
   gap: 1.5em;
   text-align: center;
   margin: 100px auto;
   padding-inline: 25px;
   letter-spacing: 1px;
   max-width: 30em;
   align-items: center;
   justify-content: center;
}

.icons {
   display: flex;
   justify-content: center;
   gap: 1em;
   color: var(--clr-primary);
   font-size: 2.5em;
}

@media (min-width: 730px) {
   .main-home {
      background-image: url("../images/game-console-g836463e15_1920.jpg");
      min-height: calc(100vh - 80px);
   }

   .main-home h1 {
      font-size: 2em;
   }

   .flex-column {
      flex-direction: row;
      flex-wrap: wrap;
   }

   .homepage-contact h2,
   .homepage-reviews h2 {
      flex-basis: 100%;
      text-align: center;
   }

   .homepage-reviews__item {
      flex: 1;
   }

   .homepage-games {
      max-width: 80em;
   }

   .homepage-reviews,
   .homepage-about {
      max-width: 60em;
      padding-inline: 20px;
      gap: 3em;
   }

   .homepage-contact,
   .homepage-about {
      margin: 200px auto;
   }

   .homepage-contact {
      max-width: 40em;
      min-height: 30vh;
   }
}

@media (min-width: 1300px) {
   .homepage-games {
      grid-template-areas:
      '. title .'
      'game1 game2 game3'
      '. cta .';
   }
}