@import url(/css/variables.css);

main {
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 2em;
   max-width: 46rem;
   min-height: 55vh;
   align-items: center;
   margin: 0 auto;
   justify-content: center;
}

.article-item {
   padding: var(--padding-medium);
   font-size: 1.2em;
   display: flex;
   flex-direction: column; 
   margin: 0 var(--margin-large);
}

.article-item > * {
   margin: var(--margin-medium) 0;
}

.article-item h2 {
   font-weight: 900;
   font-size: 2em;
}

.button-item {
   display: flex;
   flex-direction: column;
   gap: .5em;
}

.cta {
   padding: var(--padding-small) var(--padding-xxlarge);
   margin: auto 0;
   font-size: 1.2em;
   font-weight: 600;
   text-decoration: none;
   max-width: 300px;
}

.cta-purple2 {
   background-color: var(--main-color-purple);
   color: #fff;
   border-radius: 8px;
   transition: all .3s;
}

.cta-white {
   color: #000;
   border-radius: 8px;
   transition: all .3s;
}

.cta-purple2:hover {
   background-color: var(--cta-hover-purple);
   transition: all .3s;
}

.cta-white:hover {
   background-color: var(--lg-bgcolor);
   transition: all .3s;
}

/* Responsive */

@media (min-width: 730px) {
   .button-item {
      flex-direction: row;
      gap: 0;
   }

   .cta-purple2 {
      border-radius: 8px 0 0 8px;
   }

   .cta-white {
      border-radius: 0 8px 8px 0;
   }
}