/* Import variables */

@import url(/css/variables.css);

/* general styling */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   touch-action: pan-x pan-y;
   height: 100%; 
 }

body {
   font-family: var(--ff-mont);
   font-size: 16px;
   min-height: 100vh;
   min-height: 100dvh;
   display: grid;
   grid-template-rows: auto 1fr auto;
}

.line-break::before {
   content: "\a";
   white-space: pre;
}

/* Navigation and header*/

header {
   background-image: var(--bg-bannercolor);
   display: flex;
   align-items: center;
   width: 100%;
   min-height: 70px;
   justify-content: space-evenly;
   box-shadow: 1px -1px 29px 2px rgba(0,0,0,0.61);
   position: relative;
   color: #fff;
   font-family: var(--ff-toko);
   letter-spacing: 1.25;
}

header img {
   width: 111px;
   height: 70px;
   margin: var(--margin-small) 0;
   margin-left: var(--margin-xlarge);
}

header label {
   font-size: 1.5rem;
}

nav, 
#menu-checkbox,
header img {
   display: none;
}

#menu-checkbox:checked ~ nav {
   display: block;
}

nav {
   position: absolute;
   z-index: 2;
   top: 70px;
   width: 100%;
   text-align: center;
}

nav ul {
   background-image: var(--bg-bannercolor);
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
}

nav li {
   list-style-type: none;
   padding: var(--padding-small) var(--padding-medium);
}

nav li a {
   color: #fff;
   text-decoration: none;
   font-size: 1.5rem;
   transition: color ease-in-out 300ms;
}

nav li a:hover {
   color: #000;
}

/* CTA's, aref's and hover */

.cta-purple {
   background: var(--main-color-purple);
   color: #fff;
   text-decoration: none;
   font-size: 1.5em;
   text-transform: uppercase;
   font-family: var(--ff-right);
   border-radius: 8px;
   display: block;
   max-width: 250px;
   text-align: center;
   transition: background ease 300ms;
   padding: var(--padding-small) var(--padding-medium);
}

.cta-purple:hover {
   background: var(--cta-hover-purple);
}

.secondary-nav {
   border-radius: 2rem;
   transition: all ease 300ms;
}

.secondary-nav a {
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--main-color-purple);
   border-radius: 2rem;
   box-shadow: 1px -1px 29px 2px rgba(0,0,0,0.4);
   padding: var(--padding-xsmall) var(--padding-medium);
   gap: 0.5em;
   font-family: var(--ff-right);
   font-weight: 200;
   letter-spacing: 2px;
   color: #fff;
   transition: all ease 300ms;
}

.secondary-nav h1 {
   font-size: 2.25em;
   text-transform: uppercase;
}

.secondary-nav i {
   color: #fff;
   font-size: 2.5em;
}

.secondary-nav a:hover {
   box-shadow: 0 0.5em 0.5em -0.4em var(--main-color-purple);
   transform: translateY(-0.2em);
   border-radius: 2rem;
}

.shopping-cart i{
   font-size: 2.25em;
   color: #fff;
   transition: color ease 300ms;
}

.shopping-cart i:hover {
   color: #000;
}

.cta-black {
   text-decoration: none;
   color: #fff;
   background: #000;
   max-width: 200px;
   padding: 12.5px var(--padding-large);
   border-radius: 6px;
   text-align: center;
   display: block;
   transition: background ease 300ms;
   font-family: var(--ff-toko);
   letter-spacing: 3px;
   text-transform: uppercase;
}

.cta-black:hover {
   background: var(--cta-hover-purple);
}

.active-page {
   text-decoration: underline;
   
}

.active-page:hover {
   text-decoration: none;
}

/* Forms focus */

textarea:focus,
select:focus,
#cvc:focus,
input[type="tel"]:focus {
   outline: none !important;
   border: 2px solid #a231ca;
}

input[type="text"]:focus,
input[type="email"]:focus {
   outline: none !important;
   border: 2px solid #000;
}

/* Footer */

footer {
   width: 100%;
   text-align: center;
   padding: var(--padding-large) 0;
   font-weight: 600;
   background-image: var(--bg-bannercolor);
   color: #fff;
}

/* Responsive styling */

@media (min-width: 730px) {
   nav,
   header img {
      display: initial;
   }

   nav {
      position: static;
      background-image: none;
   }

   header label,
   header h2 {
      display: none;
   }

   nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2em;
      border-top: 0;
      border-bottom: 0;
      background-image: none;
   }

   nav li a {
      font-size: 1.25rem;
   }

   .shopping-cart{
      margin: 0 var(--margin-xlarge);
   }
}

@media (min-width: 900px) {
   nav li a {
      font-size: 2rem;
   }
}