@import url(/css/variables.css);

.logos i{
   font-size: 3rem;
   color: var(--main-color-purple);
   padding-right: calc(3 * var(--padding));
}

main img {
   max-width: 300px;
}

main {
   display: grid;
   place-items: center;
   align-content: center;
   gap: 3rem;
   margin: var(--margin-xxlarge) 0;
}

.grid-container {
   max-width: 46rem;
   min-height: 55vh;
   margin: 0 var(--margin-medium);
   display: grid;
   grid-template-rows: 1fr auto 1fr;
   border-radius: 2rem;
   overflow: hidden;
   box-shadow: var(--container-shadow);
   text-align: center;
   gap: 2em;
}

.grid-horizontal-line {
   border-bottom: 1px solid #000;
   max-height: 1rem;
   margin: 0 var(--margin-xlarge);
}

.grid-vertical-line {
   display: none;
}

.grid-images {
   text-align: center;
   background-color: #fff;
   padding: 2.5rem;
   display: grid;
   align-content: center;
   gap: 1rem;
}

.grid-images i {
   color: var(--main-color-purple);
}

.grid-article {
   padding: 2.5rem;
   display: grid;
   align-content: center;
   font-size: 1.125rem;
   gap: 2rem;
}

.grid-article h2 {
   font-size: 1.75em;
   margin-bottom: var(--margin-small);
}

.cursive {
   font-style: italic;
}

@media (min-width: 900px) {
   .grid-container {
      max-width: 60rem;
      max-height: 30vh;
      display: flex;
   }

   .grid-horizontal-line {
      display: none;
   }

   .grid-vertical-line {
      display: flex;
      border-left: 1px solid #000;
      margin: var(--margin-xlarge) 0;
   }
}