@import url(/css/variables.css);

input {
   height: 40px;
   border-radius: 8px;
   border: 1px solid #828282;
}

textarea {
   height: 200px;
   border-radius: 8px;
   border: 1px solid #b3b3b3;
   overflow-y: scroll;
   resize: none;
}

input::placeholder,
textarea::placeholder {
   font-size: 1.2rem;
   color: #969696;
}

input[type="text"],
input[type="email"],
textarea[type="text"] {
   font-size: 1.2rem;
   font-family: var(--ff-mont);
   padding: var(--padding-xsmall);
   padding-left: var(--padding-small);
}

main {
   display: grid;
   place-items: center;
   align-content: center;
   gap: 3rem;
   margin: 80px 0;
}

.grid-container {
   max-width: 46rem;
   min-height: 55vh;
   margin: 0 var(--margin-medium);
   display: grid;
   grid-template-rows: 1fr 1fr;
   border-radius: 2rem;
   overflow: hidden;
   box-shadow: var(--container-shadow);
}

.personal-details {
   background-color: var(--main-color-purple);
   color: #fff;
   padding: 2.5rem;
   display: grid;
   align-content: center;
   gap: 1rem;
}

.personal-details img {
   max-width: 200px;
   margin-top: var(--margin-large);
}

.image-item {
   display: flex;
   justify-content: center;
   margin-top: var(--margin-large);
}

.message-details {
   padding: 2.5rem;
   display: grid;
   align-content: center;
   gap: 1rem;
}

.message-details p {
   font-size: 1em;
}

.message-details h2,
.personal-details h2 {
   font-size: 1.75rem;
}

form {
   display: flex;
   flex-direction: column;
}

form > * {
   margin: 5px 0;
}

form label {
   font-size: 1em;
   font-weight: 600;
}

input[type="text"] {
   margin-bottom: 25px;
}

@media (min-width: 800px) {
   .grid-container {
      width: 60rem;
      min-width: 35rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
   }

   .personal-details {
      text-align: left;
      align-content: flex-start;
   }

   .message-details p {
      font-size: 1.25em;
   }
}