@import url(/css/variables.css);

.main-home {
   background-image: var(--bg-gradient-darken), url("../images/gameconsolemobiledevice.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-color: #fff;
   position: relative;
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 100vh;
   min-height: 100dvh;
}

.main-home h1,
.homepage-contact h2 {
   font-size: 1.5rem;
}

.homepage-contact img {
   max-width: 400px;
   margin-top: var(--margin-medium);
}

.homepage-contact {
   display: flex;
   flex-direction: column;
   max-width: 1000px;
   min-height: 80vh;
   margin: 0 auto;
   justify-content: center;
   text-align: center;
   align-items: center;
   gap: 3em;
}

.homepage-contact__item {
   margin: 0px calc(2 * var(--margin-xlarge));
   font-size: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.review-background {
   background-color: #4e4e4e;
   padding: var(--padding-xlarge) 0;
}

.review-section {
   display: flex;
   max-width: 1400px;
   margin: 0 auto;
   align-items: center;
   color: #fff;
   flex-wrap: wrap;
   justify-content: center;
   gap: 3rem;
}

.review-section h2 {
   flex-basis: 100%;
   text-align: center;
   margin-top: var(--margin-large);
   font-family: "Toko", Verdana, sans-serif;
   font-size: 3em;
}

.review-section h3 {
   font-family: "Toko", Verdana, sans-serif;
   letter-spacing: 3px;
}

.review-section img {
   max-width: 200px;
   border-radius: 8px;
   box-shadow: var(--container-shadow);
}

.review-section-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2em;
   margin: 0 auto;
   max-width: 500px;
   font-size: 1em;
   text-align: center;
   margin-bottom: var(--margin-large);
   margin-inline: var(--margin-xlarge);
}

.review-section-item h3 {
   font-size: 1.5em;
   text-transform: uppercase;
}

.trending-games img {
   max-width: 200px;
   border-radius: 8px;
   box-shadow: var(--container-shadow);
}

.trending-games {
   background-color: #4e4e4e;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 100%;
   color: #fff;
   text-align: center;
   padding: var(--padding-xlarge) 0;
}

.trending-games h2 {
   font-family: "Toko", "Montserrat", sans-serif;
   margin-top: var(--margin-large);
   font-size: 3em;
}

.trending-games h3 {
   font-family: "Toko", "Montserrat", sans-serif;
   font-size: 2em;
   letter-spacing: 3px;
   text-transform: uppercase;
}

.trending-games__item {
   margin: var(--margin-large) 0;
}

.trending-games__item > * {
   margin: var(--margin-small) 0;
}

.crossed {
   text-decoration: line-through;
   opacity: 0.5;
   margin: 0 var(--margin-xsmall);
   font-size: 1em;
}

.on-sale {
   margin: 0 var(--margin-xsmall);
   font-size: 1.25em;
}

.trending-games-cta {
   background: #000;
   color: #fff;
   text-decoration: none;
   padding: var(--padding-small) 0;
   margin-top: var(--margin-medium);
   display: block;
   border-radius: 8px;
   transition: background ease 300ms;
}

.trending-games-cta:hover {
   background: var(--cta-hover-purple);
}

@media (min-width: 900px) {
   .main-home {
      background-image: var(--bg-gradient-darken), url("../images/game-console-g836463e15_1920.jpg");
   }

   .review-section-item {
      font-size: 1.2em;
   }
}

@media (min-width: 1200px) {
   .homepage-contact {
      flex-direction: row;
      max-width: 100%;
   }

   .homepage-contact img {
      max-width: 500px;
   }

   .homepage-contact__item {
      text-align: left;
      align-items: flex-start;
   }

   .main-home h1,
   .homepage-contact h2 {
      font-size: 2rem;
   }

   .review-section-item {
      margin-inline: var(--margin-xxlarge);
   }

   .trending-games {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 10em;
      row-gap: 2em;
      padding: var(--padding-xxlarge) 0;
   }

   .trending-games h2 {
      flex-basis: 100%;
   }
}