@import url(/css/variables.css);

.image-item img {
   max-width: 400px;
}

label {
   font-size: 18px;
}

form option {
   font-family: var(--ff-mont);
   font-size: 18px;
}

select {
   width: 150px;
   height: 30px;
   border-radius: 4px;
   border: 1px solid #7c7c7c;
}

.image-item,
.form-item {
   display: none;
}

.container {
   display: flex;
   margin: var(--margin-xxlarge) auto;
   justify-content: center;
}

.games-item img {
   max-width: 150px;
   border-radius: 1em;
   box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75) inset;
}

.games {
   display: grid;
   margin: 100px auto;
   grid-template-rows: repeat(10, 1fr);
   grid-row-gap: 3em;
}

.games-item {
   padding: var(--padding-large);
   border-radius: 2em;
   transition: linear 300ms;
   background-image: var(--gamespage-bg-item);
   box-shadow: var(--container-shadow);
   display: flex;
   justify-content: center;
   margin: 0 auto;
}

.games-item a {
   text-decoration: none;
   color: #fff;
}

.games-item:hover {
   box-shadow: 0 0.5em 0.5em -0.4em #000;
   transform: translateY(-0.50em);
}

.gameinfo {
   text-align: center;
}

.gameinfo h2 {
   font-family: var(--ff-toko);
   letter-spacing: 1px;
   font-size: 1.5em;
   margin-top: 15px;
   text-transform: uppercase;
}

.gameinfo h3 {
   margin-bottom: var(--margin);
   font-size: 0.9em;
}

.gameinfo h4 {
   font-size: 1.25em;
}

@media (min-width: 730px) {
   .games {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-row-gap: 5em;
   }
}

@media (min-width: 1000px) {
   .games {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-row-gap: 5em;
   }
}

@media (min-width: 1300px) {
   .games {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 5em;
   }

   .image-item,
   .form-item {
      display: initial;
   }

   .container {
      align-items: flex-end;
      justify-content: space-between;
      margin: 6em 5em;
   }

   .vertical-line {
      border-bottom: 3px solid var(--main-color-purple);
      margin: 0 5em;
      border-radius: 4px;
      box-shadow: var(--container-shadow);
   }
}

@media (min-width: 1600px) {
   .games {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 5em;
   }
}